<h1 id="buy-title">Hacé tu compra online</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <div id="buy-product-list">
        <div class="row">
          <div class="buy-category-container">
            <div class="col-xs-12">
              <h3 class="buy-category-title">Category Name</h3>
            </div>
            <div class="row">
              <div class="row buy-product-container">
                <div class="col-xs-2">
                  <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Buy.jpg", :class => "buy-product-image") %>
                </div>
                <div class="col-xs-6 buy-product-name-container">
                  <h4>Product Name</h4>
                </div>
                <div class="col-xs-4 buy-product-price-container">
                  <p>
                    $XX
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="row">
        <div id="order">
          <div class="col-xs-12">
            <h2>Tu pedido</h2>
          </div>
          <div class="order-item-container">
            <div class="col-xs-8">
              <p class="order-item-name">
                Order item name
              </p>
            </div>
            <div class="col-xs-4">
              $XX
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
