<h1 id="buy-title">Hacé tu compra online</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-7 col-offset-1">
      <div id="buy-product-list">
        <div class="row">
          <div class="buy-category-container">
            <div class="col-xs-12">
              <h2 class="buy-category-title">Category Name</h2>
            <div>
            <div class="row">
              <div class="buy-product-container">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div id="order">
      </div>
    </div>
  </div>
</div>
