<h1>Datos de contacto</h1>
<p>Prana Factory</p>

<div class="sn-link">
  <div class="container">
    <%= image_tag("fb-art.jpg", :id => "facebook") %>
    <%= link_to("Seguinos en Facebook", "https://www.facebook.com/pranafactory/?fref=ts") %>
  </div>
</div>

<div class="sn-link">
  <div class="container">
    <%= image_tag("Instagram.png", :id => "instagram") %>
    <%= link_to("Seguinos en Instagram", "https://www.instagram.com/pranafactory/") %>
  </div>
</div>
