
<div class="row">
  <div class="col-xs-3">
    <div id="welcome-text">
      <h1>Elaboramos alimentos naturales e innovadores</h1>

      <p>Estamos siempre en busca de nuevos sabores y sensaciones.
        Queremos hacer cosas más ricas y sanas para compartirlas con el mundo. </p>
    </div>
  </div>
  <div class="col-xs-9">
    <div id="welcome-info">
    </div>
  </div>
</div>
