<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="category-container">
      <h2 class="category-title">Category Name</h2>
      <p class="category-description">Category Description</p>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="product-container">
              <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "product-image") %>
              <h3 class="product-title">Product Title</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="product-container">
              <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "product-image") %>
              <h3 class="product-title">Product Title</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="product-container">
              <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "product-image") %>
              <h3 class="product-title">Product Title</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
