<div class="row">
  <div class="col-xs-4">
    <%= admin.name %>
  </div>
  <div class="col-xs-4">
    <%= admin.email %>
  </div>
  <div class="col-xs-4">
    <%= link_to "Borrar", admin, method: :delete %>
  </div>
</div>
