<h1>Administradores</h1>

<div class="row" id="admin-index-header">
  <div class="col-xs-4" id="admins-name-header">
    Nombre
  </div>
  <div class="col-xs-4" id="admins-email-header">
    Email
  </div>
</div>

<%= render @admins %>

<div class="row">
  <%= link_to "Crear Nuevo Administrador", new_admin_path %>
</div>
