<% if object.errors.any? %>
  <div class="col-xs-11 col-xs-offset-1 form-error">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
