<% if object.errors.any? %>
  <div class="row error-messages-container">
      <% object.errors.full_messages.each do |msg| %>
        <div class="col-xs-10 col-xs-offset-1">
          <%= content_tag :div, msg, class: "error-message" %>
        </div>
      <% end %>
  </div>
<% end %>
