<div class="row" id="order-header">
  <div class="col-xs-8">
    <h2 id="order-title">Tu pedido</h2>
  </div>
</div>
<div id="order-body">
  <div class="row" id="order-items-header">
      <div class="col-xs-6">
        <p class="order-item-title">Producto</p>
      </div>
      <div class="col-xs-3">
        <p class="order-item-title">Cantidad</p>
      </div>
      <div class="col-xs-3">
        <p class="order-item-title">Precio</p>
    </div>
  </div>
  <div id="order-items">
      <%= render(order.line_items) %>
  </div>
  <div class="row" id="order-total">
    <div class="col-xs-9">
      <p id="order-item-name-total">Total</p>
    </div>
    <div class="col-xs=3">
      <p id=order-item-price-total>$<%= order.total_price %></p>
    </div>
  </div>
</div>
<div class="row" id="order-footer">
  <div class="col-xs-12 col-sm-12">
    <%= link_to "Realizar Pedido", new_checkout_path, :id => "order-button" %>
  </div>
  <div class="col-xs-12 col-sm-7">
    <%= link_to "Borrar Pedido", order_path(order), method: :delete, :confirm => "Estás seguro de borrar tu Pedido?",
    :remote => true, :class => "clear-button" %>
  </div>
</div>
