/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* Classes used for alignment */


/* General Styling */
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
}

#header {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

#footer {
  padding: 2em 0em 2em 0em;
  background-color: #f1e294;
}

.flash-message {
  background-color: #f2dede;
  font-weight: bold;
  margin-top: 1.2em;
  margin-left: 0.9em;
  padding: 0.7em;
}

.form-error {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: red;
  font-weight: bold;
}

.form-error ul {
  margin-left: -0.7em;
}

/* header */

#logo-container {
  padding-bottom: 1.6em;
}

#logo {
  max-width: 100%;
  display: block;
}

#sn-links {
  padding-top: 1.2em;
}

#sn-links a {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-right: 0.5em;

}

.navigation {
  background-color: #93973c;
}

.navigation div a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
  padding: 0.9em;
  text-decoration: none;
  /*background-color: #eee;*/
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.navigation div a:hover, navigation div a:focus {
  background-color: #86416a;
  color: #fff;
}

@media (max-width: 991px) {
  .navigation {
    background-color: #fff;
  }

  .navigation .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navigation div a {
    border: 1px solid #fff;
    background-color: #aec1a3;
  }
}
