/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* Classes used for alignment */


/* General Styling */
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
}

#header {
  padding: 0.5em 0;
}

#footer {
  padding: 2em 0em 2em 0em;
  background-color: #fcf8e3;
}

/* header */

#logo-container {
  padding-bottom: 3em;
}

#logo {
  max-width: 100%;
  display: block;
  margin: 1em auto 0 auto;
}

.navigation {
  background-color: #aec1a3;
}

.navigation div a {
  display: block;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
  padding: 1em;
  /*background-color: #eee;*/
  font-size: 1.6em;
}

/* footer */

#copyright {
  margin: 0.2em 0 0 -4em;
  font-size: 0.9em;
  vertical-align: middle;
}

#sn-links {
  margin-right: -4em;
}

#sn-links a {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin: auto 0.5em;
}

/* inicio */

#welcome-body {
  clear: both;
  padding: 3em 0 6em 0;
}

#welcome-text h1 {
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 0.7em;
}

#welcome-text h1 strong {
  text-transform: uppercase;
}

#carousel-inicio {
  max-width: 600px;
  margin: auto;
}

/* productos */

#show-products-head{
  text-align: center;
}

#prueba-croutons {
  background-color: #f1f1f1;
}

.show-category-container {
  margin-top: 1.26em;
  margin-bottom: 1.26em;
  padding-bottom: 1.26em;
}

.show-category-title {
  font-size: 2.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.show-category-description {
    font-size: 1.6em;
}

.show-category-text {
  margin-bottom: 2em;
}

.show-product-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.show-product-title {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

/* comprar online */

.buy-category-container {
  padding-bottom: 2em;
}

.buy-category-title {
  margin-bottom: 0.5em;
  text-indent: none;
  padding-left: 0;
  margin-left: -0.5em;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.buy-product-container {
  margin-top: 0em;
}

.buy-product-description-container {
  text-align: center;
  padding-top: 1.5em;
  font-size: 1.2em;
}

.buy-product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
}

.buy-product-icon-container {
  margin-top: 44px;
  margin-bottom:44px;
}

.buy-product-image {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 1em 0;
  clear: left;
}

.add-icon {
  max-width: 100%;
  display: block;
  margin: auto;
}

#order {
  position: fixed;
  margin: auto;
  width: 23%;
}

#order-title {
  margin-left: -0.25em;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: capitalize;
}

#erase-icon {
  display: inline-block;
  margin: 2em 0 0 0;
  padding-left: .35em;
}

.order-item-container {
  font-size: 0.9em
}

#order-item-name-total {
  font-size: 1.2em;
  font-weight: bold;
}

#order-item-price-total {
  font-size: 1.2em;
  font-weight: bold;
}

.order-button-container {
  background-color: #ddd;
}

#order-button {
  display: block;
  color: #000;
  background-color: #ddd;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}

@media (max-width: 750px) {
  .buy-category-title {
    text-align: center;
  }

  .buy-product-description-container {
    padding-top: 0.5em;
  }

  .buy-product-icon-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #order {
    position: inherit;
    width: 100%;
  }
}
