/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* Classes used for alignment */


/* General Styling */
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
}

#header {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

#footer {
  padding: 2em 0em 2em 0em;
  background-color: #f1e294;
}

.flash-message {
  background-color: #f2dede;
  font-weight: bold;
  margin-top: 1.2em;
  margin-left: 0.9em;
  padding: 0.7em;
}

.form-error {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: red;
  font-weight: bold;
}

.form-error ul {
  margin-left: -0.7em;
}

/* header */

#logo-container {
  padding-bottom: 1.6em;
}

#logo {
  max-width: 100%;
  display: block;
}

#sn-links {
  padding-top: 1.2em;
}

#sn-links a {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-right: 0.5em;

}

.navigation {
  background-color: #93973c;
}

.navigation div a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
  padding: 0.9em;
  text-decoration: none;
  /*background-color: #eee;*/
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.navigation div a:hover, navigation div a:focus {
  background-color: #86416a;
  color: #fff;
}

@media (max-width: 991px) {
  .navigation {
    background-color: #fff;
  }

  .navigation .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navigation div a {
    border: 1px solid #fff;
    background-color: #aec1a3;
  }
}

/* inicio */

#welcome-body {
  clear: both;
  background: image_url("Ensalada-Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

#welcome-text {
  text-align: center;
  font-size: 2.8em;
  margin: 2.8em 0 1.2em 0;
  padding: 0.9em;
  color: #fff;
  background-color: rgba(60,60,60,0.8)
}

#welcome-text strong {
  text-transform: uppercase;
}

.welcome-button {
  display: block;
  color: #000;
  background-color: rgba(220,220,195,0.7);
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.7em 0.9em;
  margin: 0 auto 0.7em auto;
  max-width: 40%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.welcome-button:hover {
  text-decoration: none;
  color: #000;
  background-color: rgba(220,220,195,1)
}


#carousel-inicio {
  max-width: 600px;
  margin: auto;
}

/* productos */

#show-products-head{
  text-align: center;
}

#prueba-croutons {
  background-color: #f1f1f1;
}

.show-category-container {
  margin-top: 1.26em;
  margin-bottom: 1.26em;
  padding-bottom: 1.26em;
}

.show-category-title {
  font-size: 2.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.show-category-description {
    font-size: 1.6em;
}

.show-category-text {
  margin-bottom: 2em;
}

.show-product-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.show-product-title {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

/* comprar online */

.buy-category-container {
  padding-bottom: 2em;
}

.buy-category-title {
  margin-bottom: 0.5em;
  text-indent: none;
  padding-left: 0;
  margin-left: -0.5em;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.buy-product-container {
  margin-top: 0em;
}

.buy-product-description-container {
  text-align: center;
  padding-top: 1.5em;
  font-size: 1.2em;
}

.buy-product-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left
}

.buy-product-image {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 1em 0;
  clear: left;
}

.buy-product-item {
  font-size: 0.9em;
}

.price {
  font-weight: bold;
  font-size: 0.9em;
  color: #666;
}

.add-icon {
  max-width: 100%;
  display: block;
}

#order {
  position: fixed;
  width: 23%;
  background-color: #eee;
  margin: 1.2em auto 0.9em 0.9em;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888;
}

#order-header {
  /*border-bottom: solid #000 */;
}

#order-title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 0.5px dotted #000;
  margin-top: 0.9em;
  margin-bottom: 0em;
}

#order-body {
  /*background-color: #eee;*/
}

#order-items {
  background-color: #ddd;
  margin: 0 0 0.7em 0;
  padding: 0.7em 0.9em 0em 0.7em;
  border-radius: 5px;
}

#order-items-header {
  margin-top: 0.7em;
}
.order-item-title{
  font-size: 0.7em;
  font-weight: bold;
}

.order-item {
  text-align: center;
  font-size: 0.7em;
  white-space: nowrap;
}

.order-item-name{
  font-size: 0.7em;
  text-overflow: ellipsis;
}

.order-item-price {
  text-align: center;
}

#order-total {
  background-color: #ddd;
  margin: 0.7em 0;
  padding: 0.7em 0em 0em 0.1em;
  border-radius: 5px;
}

#order-item-name-total {
  font-size: 0.7em;
  font-weight: bold;
}

#order-item-price-total {
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
}

.clear-button {
  display: block;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.7em 0.9em;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.clear-button:hover, .clear-button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #666;
}

#order-button {
  display: block;
  color: #fff;
  background-color: #a94442;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.7em 0.9em;
  margin-bottom: 0.7em;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

#order-button:hover, #order-buton:focus {
  background-color: #bd4340;
}

@media (max-width: 750px) {
  .buy-category-title {
    text-align: center;
  }

  .buy-product-description-container {
    padding-top: 0.5em;
  }

  .buy-product-icon-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #order {
    position: inherit;
    width: 100%;
    margin-left: 0;
  }

  #order-button {
    margin: auto;
  }

  .clear-button {
    width: 100%;
    margin-top: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
}
