// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* intro */

/* inicio */

#welcome-body {
  clear: both;
  background: image_url("Ensalada-Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

#welcome-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8em;
  margin: 2.8em 0 1.2em 0;
  padding: 0.9em;
  color: #fff;
  background-color: rgba(60,60,60,0.8)
}

#welcome-text strong {
  text-transform: uppercase;
}

.welcome-button {
  display: block;
  color: #000;
  background-color: rgba(220,220,195,0.7);
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.7em 0.9em;
  margin: 0 auto 0.7em auto;
  max-width: 40%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.welcome-button:hover {
  text-decoration: none;
  color: #000;
  background-color: rgba(220,220,195,1)
}


/* nuestros productos */

.show-category-container {
  margin-bottom: 1.26em;
  padding-bottom: 1.26em;
}


.show-category-title-container {
  border-bottom: 2px solid black;
}

.show-category-title {
  margin-left: -0.5em;
  font-size: 2.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.show-category-description {
    font-size: 1.6em;
    white-space: pre-line;
    margin-top: 3.2em;
    margin-left: 1.6em;
}

.show-category-body {

}

.show-category-text {
  margin-bottom: 2em;
}

.show-category-products-container {
  padding-top: 1.6em;
}

.show-category-products-title {
  font-weight: bold;
  color: #777;
}

.show-category-product-container {
  padding-top: 1.6em;
}

.show-product-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.show-category-product-title {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

/* comprar online */

.buy-category-container {
  padding-bottom: 2em;
}

.buy-category-title-container {
  border-bottom: 2px solid black;
  margin-bottom: 1.6em;
}

.buy-category-title {
  font-size: 2.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -0.5em;
}

.buy-intro-text {
  font-size: 1.2em;
}

.buy-intro-text ul li {
  font-size: 1.2em;
}

.buy-product-container {
  margin-top: 0em;
}

.buy-product-description-container {
  text-align: center;
  padding-top: 0.7em;
  font-size: 1.2em;
}

.buy-product-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left
}

.buy-product-image {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 1em 0;
  clear: left;
}

.buy-product-item {
  font-size: 0.9em;
}

.price {
  font-weight: bold;
  font-size: 0.9em;
  color: #666;
}

.add-icon {
  color: #000;
}

.add-icon:hover {
  color: #6e986f;
}

#order {
  position: fixed;
  width: 23%;
  background-color: #eee;
  margin: 1.2em auto 0.9em 0.9em;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888;
}

#order-header {
  /*border-bottom: solid #000 */;
}

#order-title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 0.5px dotted #000;
  margin-top: 0.9em;
  margin-bottom: 0em;
}

#order-body {
  /*background-color: #eee;*/
}

#order-items {
  background-color: #ddd;
  margin: 0 0 0.7em 0;
  padding: 0.7em 0.9em 0em 0.7em;
  border-radius: 5px;
}

#order-items-header {
  margin-top: 0.7em;
}
.order-item-title{
  font-size: 0.7em;
  font-weight: bold;
}

.order-item-title-price {
  margin-left: -1.6em;
}


.order-item {
  font-size: 0.7em;
  white-space: nowrap;
}

.order-item-name {
  font-size: 0.7em;
  text-overflow: ellipsis;
}

.order-item-price {
}

#order-total {
  background-color: #ddd;
  margin: 0.7em 0;
  padding: 0.7em 0em 0em 0.1em;
  border-radius: 5px;
}

#order-item-name-total {
  font-size: 0.7em;
  font-weight: bold;
}

#order-item-price-total {
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
}

.clear-button {
  display: block;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.7em 0.9em;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.clear-button:hover, .clear-button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #666;
}

#order-button {
  display: block;
  color: #fff;
  background-color: #a94442;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.7em 0.9em;
  margin-bottom: 0.7em;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

#order-button:hover, #order-buton:focus {
  background-color: #bd4340;
}

@media (max-width: 750px) {
  .buy-category-title {
    text-align: center;
  }

  .buy-product-description-container {
    padding-top: 0.5em;
  }

  .buy-product-icon-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #order {
    position: inherit;
    width: 100%;
    margin-left: 0;
  }

  #order-button {
    margin: auto;
  }

  .clear-button {
    width: 100%;
    margin-top: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }
}
