<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 show-category-container">
    <div class="row show-category-header">
      <div class="col-xs-7 show-category-title-container">
        <h2 class="show-category-title"><%= category.name %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 show-category-image-container">
        <%= image_tag(category.image.url(:show), class: "show-category-image") %>
      </div>

      <div class="col-xs-7 show-category-description-container">
        <p class="show-category-description">
          <%= category.description %>
        </p>
      </div>
    </div>

    <div class="row show-category-products-container">
      <div class="col-xs-12">
        <h3 class="show-category-products-title">Variedades:</h3>
      </div>
      <%= render category.products %>
    </div>
  </div>
</div>
