<div class="col-xs-3 text-center show-category-product-container">
    <%= image_tag(product.image.url(:show), class: "show-category-product-image") %>
    <h4 class="show-category-product-title"><%= product.name %></h4>
</div>
