<div class="row">
  <div class="col-xs-6">
    <p class="order-item-name"><%= line_item.identifier %></p>
  </div>
  <div class="col-xs-3 text-center">
    <p class="order-item">x<%= line_item.quantity %></p>
  </div>
  <div class="col-xs-3 text-center">
    <p class="order-item">$<%= line_item.total_price %></p>
  </div>
</div>
