<div class="row order-item">
  <div class="col-xs-6">
    <p class="order-item-name"><%= line_item.identifier %></p>
  </div>
  <div class="col-xs-3">
    <p class=order-item-price>x<%= line_item.quantity %></p>
  </div>
  <div class="col-xs-3">
    <p class=order-item-price>$<%= line_item.total_price %></p>
  </div>
</div>
