<% if flash.any? %>
    <% flash.each do |key, msg| %>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= content_tag :div, msg, class: "flash-message flash-message-#{key}" %>
      </div>
    </div>
    <% end %>
<% end %>
