<% if flash.any? %>
    <% flash.each do |key, msg| %>
    <div class="row">
      <%= content_tag :div, msg, class: "col-xs-3 flash-message flash-message-#{key}" %>
    </div>
    <% end %>
<% end %>
