<% if flash.any? %>
  <div class="row" id="flash-messages">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, class: "col-xs-12 flash-message flash-message-#{key}" %>
    <% end %>
  </div>
<% end %>
