<div class="row" id="footer">
  <div class="col-xs-3 col-xs-offset-1">
    <p id="copyright">Prana Factory - 2016</p>
  </div>
  <div class="col-xs-7">
    <div id="sn-links">
          <%= link_to(image_tag("FacebookLogo-Small.png", :id => "facebook"),
            "https://www.facebook.com/pranafactory/?fref=ts") %>
          <%= link_to(image_tag("InstagramLogo-Small.png", :id => "instagram"),
            "https://www.instagram.com/pranafactory/") %>
    </div>
  </div>
</div>
