<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Inicio", root_path %></li>
  <li role="presentation"><%= link_to "Nuestros Productos", nuestros_productos_path %></li>
  <li role="presentation"><%= link_to "Comprar", comprar_path %></li>
  <li role="presentation"><%= link_to "Contacto", contacto_path %></li>
</ul>
