<div id="header">
  <div class="row" id="logo-container">
    <div class="col-xs-12 col-md-4">
      <%= image_tag("PranaFactoryLogo-Header.png", :id => "logo") %>
    </div>
  </div>
  <div class="row navigation">
        <div class="col-xs-12 col-md-3 col-md-offset-1 navigation-link">
          <%= link_to "Inicio", root_path %>
        </div>
        <div class="col-xs-12 col-md-4 navigation-link">
          <%= link_to "Nuestros Productos", nuestros_productos_path %>
        </div>
        <div class="col-xs-12 col-md-3 navigation-link">
          <%= link_to "Comprar Online", comprar_path %>
        </div>
  </div>
</div>
