<div class="container">

</div>
<nav class="navbar navbar-default">
  <div class="container">
      <ul class="nav navbar-nav">
        <li><%= image_tag("PranaFactoryLogo-Medium.png", :id => "logo") %></li>
        <li role="presentation"><%= link_to "INICIO", root_path %></li>
        <li role="presentation"><%= link_to "NUESTROS PRODUCTOS", nuestros_productos_path %></li>
        <li role="presentation"><%= link_to "COMPRAR", comprar_path %></li>
      </ul>
  </div>
</nav
