<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <%= image_tag("PranaFactoryLogo-Medium.png", :id => "logo") %>
  </div>
  <div class="col-xs-7">
    <nav>
      <ul>
        <li role="presentation"><%= link_to "Inicio", root_path %></li>
        <li role="presentation"><%= link_to "Nuestros Productos", nuestros_productos_path %></li>
        <li role="presentation"><%= link_to "Comprar", comprar_path %></li>
      </ul>
    </nav>
  </div>
</div>
